In [2]:
import pandas as pd

In [5]:
zone_data = pd.read_csv("../../data/zone_coordinates.csv", index_col = False)

In [6]:
zone_data.head()

,Unnamed: 0,Zone,Lower Left,Upper Right,Center
0,0,1,"[10.79377655, 59.96421346153846]","[10.802510575000001, 59.96875023076923]","[10.798143562500002, 59.96648184615385]"
1,1,2,"[10.785042525, 59.96421346153846]","[10.79377655, 59.96875023076923]","[10.7894095375, 59.96648184615385]"
2,2,3,"[10.776308499999999, 59.96421346153846]","[10.785042525, 59.96875023076923]","[10.7806755125, 59.96648184615385]"
3,3,4,"[10.767574475, 59.96421346153846]","[10.7763085, 59.96875023076923]","[10.771941487500001, 59.96648184615385]"
4,4,5,"[10.75884045, 59.96421346153846]","[10.767574475, 59.96875023076923]","[10.763207462499999, 59.96648184615385]"