In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import folium
import folium.plugins as plugins

In [27]:
filename = "data/2019_vy.csv"

def load_file(filename):
    df = pd.read_csv(filename)
    df['DateTime'] = pd.TimedeltaIndex(df['DateTime'], unit = 'd') + dt.datetime(1899,12,30)
    df['Long'] = df['Long'].apply(lambda x: str(x).replace(',','.'))
    df['Lat'] = df['Lat'].apply(lambda x: str(x).replace(',','.'))
    return df

In [28]:
data = load_file(filename)
data

,DateTime,Trip ID,TripStage,Long,Lat,Car ID,Trip duration (min)
0,2018-12-31 11:39:21.888,1,Start,10.73382,59.92934,V5a15A3226E5F7,1403.350000
1,2019-01-01 11:02:43.008,1,End,10.749,59.91063,V5a15A3226E5F7,1403.350000
2,2019-01-01 08:18:08.352,2,Start,10.73561,59.93056,V5a15A3226E89D,24.716667
3,2019-01-01 08:42:50.976,2,End,10.80917,59.94132,V5a15A3226E89D,24.716667
4,2019-01-01 14:34:39.360,3,Start,10.72983,59.92513,V5a15A3226E999,1067.866667
...,...,...,...,...,...,...,...
298805,2019-12-08 23:41:21.120,149403,End,10.76359,59.92469,V5a15A3226E509,17.450000
298806,2019-12-08 23:25:28.128,149404,Start,10.74268,59.9265,V5a15A3226E964,17.866667
298807,2019-12-08 23:43:20.352,149404,End,10.72781,59.92909,V5a15A3226E964,17.866667
298808,2019-12-08 23:27:19.584,149405,Start,10.77113,59.94332,V5a15A3226D417,22.166667
298809,2019-12-08 23:49:30.144,149405,End,10.7261,59.93433,V5a15A3226D417,22.166667